



/* Animated Text */
#blx-54e284395b51ea741400003d-0000001.blx-54e284395b51ea741400003d {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 72px;
    font-family: 'Architects Daughter', sans-serif;
    color: rgb(204, 204, 204);
    text-shadow: rgb(0, 0, 0) 0.04em 0.04em 0.05em, rgba(27, 162, 154, 0) 0.08em 0.08em 0em;
    overflow: hidden;
}
